1) Difference between Delete and Truncate command?

   Delete is a DML command while Truncate is a DDL command.

2) What is DDL and DML command?

    DDL is Data Definition language whereas DML is Data Modification Language. 
    DDL is related to te definition of the data hence responsible for creating, deleting or modification of the structure of the table where as DML corresponds to the data itself that is stored in the table.

3) Find the employee with the n th highest salary in the company?

    SELECT * FROM(
    SELECT emp_name, salary, RANK() 
    over(ORDER BY salary DESC) AS ranking FROM employee) AS k
    WHERE ranking = N;

4) Difference between rank() and dense_rank() function ?

      RANK and DENSE_RANK are used to order values and assign them numbers depending on where they fall in relation to one another.

      RANK numbers are skipped so there may be a gap in rankings, and may not be unique.
      DENSE_RANK numbers are not skipped so there will not be a gap in rankings, and may not be unique.

      The syntax for the SQL RANK function is:
      RANK () OVER ( [query_partition_clause] order_by_clause )

      WITH PARTITION:
      SELECT student_id, first_name, last_name, gender, fees_paid,
      RANK() OVER (
        PARTITION BY gender
        ORDER BY fees_paid
      ) AS rank_val
      FROM student;

      WITHOUT PARTITION:
      SELECT student_id, first_name, last_name, gender, fees_paid,
      RANK() OVER (
            ORDER BY fees_paid
      ) AS rank_val
      FROM student;

      The syntax for the SQL DENSE_RANK function is similar:
      DENSE_RANK () OVER ( [query_partition_clause] order_by_clause )

5) Difference between ROWID and ROWNUM ?

    ROWID is representative of the allocation of physical memory. ROWNUM is representative of the sequence allocated to any data retrieval bunch

6) Write a query to remove duplicates from the table ?

    DELETE FROM [SampleDB].[dbo].[Employee]
    WHERE ID NOT IN
    (
        SELECT MAX(ID) AS MaxRecordID
        FROM [SampleDB].[dbo].[Employee]
        GROUP BY [FirstName], 
                 [LastName], 
                 [Country]
    );

    We can use the SQL RANK function to remove the duplicate rows as well. SQL RANK function gives unique row ID for each row irrespective of the duplicate row.

    In the following query, we use a RANK function with the PARTITION BY clause. The PARTITION BY clause prepares a subset of data for the specified columns and gives rank for that partition.

    SELECT E.ID, 
    E.firstname, 
    E.lastname, 
    E.country, 
    T.rank
    FROM [SampleDB].[dbo].[Employee] E
    INNER JOIN
    (
    SELECT *, 
            RANK() OVER(PARTITION BY firstname, 
                                    lastname, 
                                    country
            ORDER BY id) rank
    FROM [SampleDB].[dbo].[Employee]
    ) T ON E.ID = t.ID;